html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 0.9em;
	color: black;
	background-color: white;
	overflow: hidden;
}

#joinBox {
	padding: 16px;
	margin: 48px auto;
	width: 232px;
	border: black 2px solid;
}

.joinInput {
	width: 164px;
	display: block;
	margin: 4px auto;
	padding: 8px;
	border: black 2px solid;
	color: black;
	background-color: white;
}

#title {
	height: 64px;
	width: auto;
	margin: 48px auto;
	display: block;
}

#name {
	height: 32px;
	width: auto;
	margin: 48px auto;
	display: block;
}

#joinButton {
	width: 184px;
	display: block;
	padding: 8px;
	margin: 16px auto;
	border: black 2px solid;
	color: black;
	background-color: white;
}

#joinButton:hover {
	background-color: grey;
	cursor: pointer;
}

.inputName {
	text-align: center;
	margin-top: 8px;
}

#area {
	display: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100vw;
	height: 100vh;
}
